<!DOCTYPE html>
<html>
<head>
<title>Sycho Saloon</title>
<link rel="stylesheet" href="/static/style.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="overlay">
    <div class="card">
        <h1 class="brand">Sycho Saloon</h1>
        <p class="tagline">Premium Grooming Experience</p>

        <div class="token-box">
            Current Token: <span>{{current_token}}</span>
        </div>

        <form action="/book" method="POST">
            <input type="text" name="name" placeholder="Your Name" required>
            <input type="text" name="mobile" placeholder="Mobile Number" required>

            <select name="barber" required>
                <option value="">Select Barber</option>
                <option>Raj</option>
                <option>Sameer</option>
            </select>

            <select name="service" required>
                <option value="">Select Service</option>
                <option>Haircut</option>
                <option>Beard</option>
                <option>Facial</option>
            </select>

            <button type="submit">Book Appointment</button>
        </form>
    </div>
</div>
</body>

</html>
